<div class="contents panel panel-default">
  <div class="panel-body">
    <div ng-init="article_id=<%= params[:id] %>" ng-controller="articleController">
      <div class="board">
        <div>
          <h2>{{article.title}}</h2>
          <p>
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{article.created_at}} | <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{article.writer}}
          <hr>
          <h3>내용</h3>
          <div>{{article.content}}</div>
        </div>
      </div>
      <hr>
      <div class="comment">
        <h3>댓글</h3>
        <ul>
          <li ng-repeat="comment in comments">
            <strong>{{comment.writer}}</strong> {{comment.content}}</a>
          </li>
        </ul>
        <% if session[:userid] %>
        <%= form_for(:comment, url: '/board/comment') do |f| %>
        <div class="input-group">
          <%= f.text_field :content, class: 'form-control', placeholder: "댓글 입력" %>
          <%= f.hidden_field :article, value: params[:id] %>
          <%= f.hidden_field :writer, value: session[:userid] %>
          <span class="input-group-btn">
            <%= f.submit "완료", class: 'btn btn-default' %>
          </span>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>