<div class="contents">
  <div ng-init="article_id=<%= params[:id] %>" ng-controller="articleController">
    <div class="board">
      <div>
        <h3>{{article.title}}</h3>
        <div>{{article.content}}</div>
        <div>{{article.writer}}</div>
      </div>
    </div>
    <div class="comment">
      <ul>
        <li ng-repeat="comment in comments">
          <strong>{{comment.writer}}</strong> {{comment.content}}</a>
        </li>
      </ul>
      <%= form_for(:comment, url: '/board/comment') do |f| %>
        <p>
          <%= f.label :content %>
          <%= f.text_field :content, placeholder: "내용 입력" %>
        </p>
        <%= f.hidden_field :article, value: params[:id] %>
        <%= f.hidden_field :writer, value: session[:userid] %>
        <%= f.submit "작성" %>
      <% end %>
      <a href="/board">목록으로 돌아가기</a>
    </div>
  </div>
</div>