<% flash.each do |message_type, message| %>
  <span><%= message %></span>
<% end %>
<%= form_for(:member) do |f| %>

  <%= f.label :userid %>
  <%= f.text_field :userid %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "로그인" %>

<% end %>