<% flash.each do |message_type, message| %>
  <p><%= message %></p>
<% end %>
<%= form_for(:member) do |f| %>
  <p>
    <%= f.label :userid %>
    <%= f.text_field :userid %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p><%= f.submit "로그인" %></p>
<% end %>